.container{
 margin: auto;
    width: min(100%,1440px);
}
/* header */
header{
   
    height: 96px;
    background-color:#311500 ;
    padding: 18px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger_div{
    display: none;
    
    align-items: center;
      justify-content: center; 

    width: 48px;
height: 48px;
border-radius: 32px;
background-color: #C46A2B;
border-width: 2.5px;
color:#DEE2EB ;
}
.header_list{
    display: flex;
    column-gap: 36px;
}
.li{
    font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.44px;
vertical-align: middle;
text-transform: uppercase;
color: #DEE2EB;
}
.active{
    color:#C46A2B ;
}
.header_but{
    width: 100px;
height: 48px;
border-radius: 32px;
background-color:#C46A2B ;
color: #DEE2EB;
font-family: Inter;
font-weight: 900;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.44px;
vertical-align: middle;
text-transform: uppercase;
border: none;
}
/* section1 */
.section1{
    background-image: url(../images/cover.png);
    background-position: center;
height: 640px;
display: flex;
justify-content: center;
}
.sec1_div{
    display: flex;
    margin-top: 120px;
    column-gap: 32px;
    
}
.sec1_h{
    font-family: Inter;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: 0.1px;
color:#FFFFFF ;
}
.fa-arrow-right{
      font-size: 50px;
color: #F5F5F5;
border-radius: 2px;
}
/* section2 */
.section2{
    height: 578px;
    background-color:#DEE2EB;
    display: flex;
    padding: 94px;
    justify-content: space-between; 
    flex-direction: column;
    align-items: center;
}
.sec2_h{
    font-family: Inter;
font-weight: 700;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
color:#311500 ;
}
.article_div{
    display: flex;
    column-gap:20px ;
}
article{
    width: 298px;
height: 290px;
    padding-inline: 8px;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color:#311500 ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
h2{
   font-family: Inter;
font-weight: 700;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
color:#C46A2B ; 
}
p{
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
color: #DEE2EB;
}
.article_b{
    width: 27px;
height: 27px;
border-radius: 8px;
border-width: 1px;
background-color: #C46A2B;
border-color: #FFFFFF;
}
.fa-cart-shopping{
    color: #FFFFFF;
}
.price{
    display: flex;
    justify-content: space-between;
}
/* footer */
footer{
height: 308px;
background-color:#311500 ;
padding: 64px 372px;
display: flex;
justify-content: space-between;

}
.footer_sec1{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
li{
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #D9D9D9;
}
h3{
    font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color:#D9D9D9 ;
}
.footer_ul{
     display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.social_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
font-size: 25px;
color:#D9D9D9 ;

}